<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class="layui-header">
        <div class="layui-logo">内网穿透</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/">控制台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:void(0);">
                    <img src="favicon.ico" class="layui-nav-img" alt="" >
                    GM
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="password">密码管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:void(0);">退出</a></li>
        </ul>
    </div>
</div>