<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>内网穿透</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
    <script th:src="@{js/echarts.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="include/header :: header"></div>
    <div th:include="include/side :: side"></div>
    <div th:include="include/footer :: footer"></div>

    <div class="layui-body">
        <div id="main" style="width: 600px;height:400px;float:left;"></div>
        <div id="main2" style="width: 600px;height:400px;float:left;"></div>

        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'));
            var myChart2 = echarts.init(document.getElementById('main2'));

            option = {
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    type: 'line'
                }]
            };

            option2 = {
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [120, 200, 150, 80, 70, 110, 130],
                    type: 'bar'
                }]
            };

            myChart.setOption(option);
            myChart2.setOption(option2);
        </script>
    </div>
</div>
<script th:src="@{layui/layui.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>