<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>内网穿透</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
<div class="site-banner">
    <div class="site-banner-bg" style="background-image: url(image/dawn.jpg); background-size: 100% 100%;"></div>
    <div class="site-banner-main">
        <div class="site-zfj">
            <i class="layui-icon layui-icon-release" style="color: #fff; color: rgba(255,255,255,.7);"></i>
        </div>
        <div class="layui-anim site-desc">
            <p class="web-font-desc">内网穿透</p>
            <cite>1. 微信、支付宝支付 2. 小程序应用 3. 个人网站 ......</cite>
        </div>
        <div class="site-download">
            <a href="https://github.com/littleredhat1997" class="layui-inline">
                <cite class="layui-icon layui-icon-download-circle"></cite>立即下载
            </a>
        </div>
        <div class="site-version">
            <span>当前版本：1.0.0</span>
        </div>
        <div class="site-banner-other">
            <a href="https://github.com/littleredhat1997">
                <i class="layui-icon layui-icon-star"></i>Star
            </a>
            <a href="https://github.com/littleredhat1997">
                <i class="layui-icon layui-icon-tree"></i>Fork
            </a>
        </div>
    </div>
</div>
<div class="layui-main">
    <div class="layui-row">
        <div class="layui-col-md6">
            <h1 style="text-align: center; margin: 20px 0; color: #393D49;">流程图</h1>
            <div style="width: 600px; height: 400px; margin: 0 auto; background-image: url(image/flow.png); background-size: 100% 100%;"></div>
        </div>
        <div class="layui-col-md6">
            <h1 style="text-align: center; margin: 20px 0; color: #393D49;">客户端</h1>
            <div style="width: 500px; height: 400px; margin: 0 auto; background-image: url(image/app.png); background-size: 100% 100%;"></div>
        </div>
    </div>

    <ul class="site-idea">
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>操作系统</legend>
                <p>基于Java开发，支持Window、Mac、Linux等。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>支持协议</legend>
                <p>支持HTTP、TCP，暂时不支持HTTPS、UDP。</p>
            </fieldset>
        </li>
        <li>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>绑定域名</legend>
                <p>仅支持littleredhat1997.com顶级域名，如果需要使用其他顶级域名，需要自行搭建服务端。</p>
            </fieldset>
        </li>
    </ul>
</div>
<div class="footer">
    <p>&copy; 2020 <a href="http://littleredhat1997.com/">littleredhat1997.com</a></p>
</div>
</body>
</html>
